<%- include('base') -%>

<div class="container">
        <p> Search results </p>
        <ul class="list-group">
                
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <h3>Larsen & Toubro
                  <span class="badge badge-primary badge-pill">LT</span>
                </h3>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                        <h3>State Bank of India
                        <span class="badge badge-primary badge-pill">SBIN</span>
                      </h3>
                      </li>

                
</div>